<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickFlyDieLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,104},{52,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{50,52}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,52},{50,58}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{50,58}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,106},{60,44}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,209},{50,44}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{50,44}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,205},{42,54}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{42,54}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{40,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{40,58}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{38,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>chickFlyDieMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{37,42}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{37,42}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,378},{35,38}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{35,38}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,299},{37,42}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{37,42}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{45,34}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{45,34}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,339},{37,32}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{37,32}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,369},{31,40}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{31,40}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,263},{29,42}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{29,42}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{27,44}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{27,44}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>chickFlyDieSmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,170},{14,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,307},{12,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,152},{14,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,245},{16,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,405},{14,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,209},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,282},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyDieSmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,270},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlyLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{55,50}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{55,50}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{59,48}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{59,48}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,158},{49,54}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{49,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{51,54}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{51,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,156},{51,54}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{51,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,54},{61,52}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,52}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{61,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{61,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{63,52}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,50}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{63,50}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,58},{61,46}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{61,46}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,108},{57,46}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{57,46}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,209},{53,50}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{53,50}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyLarge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,152},{51,54}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{51,54}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>chickFlyMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,331},{40,36}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{40,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,338},{42,34}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{42,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{36,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{36,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,340},{36,40}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,40}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,374},{38,38}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{38,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,289},{44,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{44,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,255},{44,38}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,249},{46,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{46,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,261},{46,36}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{46,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,295},{44,34}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{44,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,329},{42,34}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{42,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{40,36}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlyMed9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,365},{38,38}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{38,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>chickFlySmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,394},{14,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,254},{16,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,394},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,378},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,378},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,238},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,222},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,206},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,188},{16,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,227},{16,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{16,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,323},{14,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,12}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,323},{14,14}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>chickFlySmall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,307},{14,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-MH-Flying-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2002100dd8848d3ec39b65f685cb9330:dc3da30b9b330b789d1b733ce5b9e9aa:22f06aff4734da6a363a558a13dec822$</string>
            <key>textureFileName</key>
            <string>Anim-MH-Flying-hd.png</string>
        </dict>
    </dict>
</plist>
