<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shell0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{12,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{14,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell11.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,32},{12,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{12,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,62},{12,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{12,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell13.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,46},{14,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{14,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{14,13}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{14,13}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell15.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,108},{14,11}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{14,11}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{14,11}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{14,11}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell17.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,46},{14,15}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{14,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell18.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,62},{12,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{12,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{12,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{12,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,18},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{12,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell20.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{14,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{12,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell4.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,76},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{12,13}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell5.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,46},{14,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{14,9}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{14,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{14,13}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{14,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{14,15}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell8.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,18},{12,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{12,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>shell9.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{14,17}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-Shells.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e2b12b6201ebe448e14fa727cc3173:68aaace55a240c7161a7a5b6771a4cee:28443e8a1cc74a58a22bac8bf068e7fc$</string>
            <key>textureFileName</key>
            <string>Anim-Shells.png</string>
        </dict>
    </dict>
</plist>
