<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickFlyDieLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{103,116}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{103,116}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,381},{97,104}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{97,104}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{99,114}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{99,114}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,104},{119,86}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{119,86}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,473},{99,86}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{99,86}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,298},{81,108}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{81,108}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,192},{75,116}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,7},{75,116}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,202},{73,116}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{73,116}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>chickFlyDieMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{73,84}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{73,84}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,400},{67,74}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{67,74}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,621},{71,82}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{71,82}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,555},{85,64}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{85,64}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,746},{71,62}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{71,62}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,646},{57,78}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{57,78}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,561},{55,84}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{55,84}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{53,84}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{53,84}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>chickFlyDieSmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,583},{26,28}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,637},{24,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,232},{26,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,480},{30,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,591},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,22}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,561},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,140},{20,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyDieSmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,108},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{20,30}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlyLarge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,269},{108,100}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{108,100}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,108},{116,94}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{116,94}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,379},{98,106}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{98,106}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{98,108}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{98,108}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,277},{100,108}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{100,108}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{120,104}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{120,104}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,106}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,104}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{122,104}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{122,100}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{122,100}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,108},{118,92}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{118,92}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,204},{114,92}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{114,92}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,371},{106,100}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{106,100}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyLarge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{102,104}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,104}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>chickFlyMed0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,634},{79,72}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{79,72}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,563},{83,66}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{83,66}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,708},{71,76}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{71,76}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,673},{71,78}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{71,78}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{73,76}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{73,76}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,558},{87,74}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{87,74}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,480},{87,76}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{87,76}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,479},{89,74}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{89,74}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{89,72}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{89,72}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,476},{85,66}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{85,66}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{81,66}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{81,66}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,694},{77,72}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{77,72}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlyMed9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,648},{73,76}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{73,76}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>chickFlySmall0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,534},{28,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,286},{30,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,555},{26,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,618},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,590},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,204},{30,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{30,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,342},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,312},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,372},{32,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,260},{30,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{30,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,611},{28,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{28,24}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,506},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>chickFlySmall9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,562},{26,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-MH-Flying-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2002100dd8848d3ec39b65f685cb9330:dc3da30b9b330b789d1b733ce5b9e9aa:22f06aff4734da6a363a558a13dec822$</string>
            <key>textureFileName</key>
            <string>Anim-MH-Flying-ipadhd.png</string>
        </dict>
    </dict>
</plist>
