<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shell0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{44,80}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,100},{46,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{46,62}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{48,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{48,64}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{48,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{48,64}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{48,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{48,58}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{48,54}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{48,54}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,198},{48,46}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{48,46}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,200},{48,44}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,20},{48,44}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,200},{48,42}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{48,42}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,150},{48,50}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{48,50}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,100},{48,58}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,11},{48,58}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{48,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{48,64}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,52},{46,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{46,62}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell20.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,52},{46,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{46,64}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,52},{46,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{46,56}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,244},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{46,46}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{48,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{48,32}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,150},{48,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{48,46}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{50,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{50,54}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,100},{48,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{48,60}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shell9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{48,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{48,62}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Anim-Shells-ipadhd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e2b12b6201ebe448e14fa727cc3173:68aaace55a240c7161a7a5b6771a4cee:28443e8a1cc74a58a22bac8bf068e7fc$</string>
            <key>textureFileName</key>
            <string>Anim-Shells-ipadhd.png</string>
        </dict>
    </dict>
</plist>
