<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ammo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,64}}</string>
                <key>sourceSize</key>
                <string>{125,64}</string>
            </dict>
            <key>reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,62},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>reloadready.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>timerbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{60,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GUI-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:827bc3e4aec165f942aa1da8633395c7:e53d1cc12eb18328df7a259fcecfb1f4:0651a28d84608a7027dd76e59c713172$</string>
            <key>textureFileName</key>
            <string>GUI-hd.png</string>
        </dict>
    </dict>
</plist>
